body {
  padding-top: 10px;
  margin: 0;
  background-image: linear-gradient(to top left, #0ff 0%, #f0f 100%);
}
main {
  width: 50rem;
  height: 50rem;
  background-color: rgb(153, 255, 153, 0.55);
  border-radius: 1%;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px rgb(0 0 0 / 20%);
}

#submit {
  position: absolute;
  left: 55%;
  cursor: pointer;
  border: none;
  border-radius: 40rem;
  padding: 10px 10px;
  background-color: rgb(153, 255, 153, 0.6);
  /* backdrop-filter: blur(10px); */

  box-shadow: 5px 5px rgb(0 0 0 / 20%);
}

input {
  border: none;
  position: absolute;
  height: 50px;
  width: 200px;
  left: 30%;
  top: 2%;
}

/* TURN OFF THE SCROLL BAR INSIDE THE INPUT TYPE NUMBER */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
